:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}
@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: 'Inter';
}
.testimonial{
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
}



.image-container{
margin: 0 auto;
    width: 100%;
    height: 308px;
    background-image: url(./images/pattern-bg.svg); 
    background-size: contain;
    text-align: center;
    padding-top: 30px;
    margin: 24px auto 0;
    position: relative;
    
    & .image{ 
       width: 80%;
       border-radius: 10px;
     
      
       
    }
    & .arrows-container{
        background-color: whitesmoke;
        justify-content: space-between;
        padding: 0 15px;
        position: absolute;
        width: 110px;
        height: 40px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        box-shadow: 2px 2px 1px 2px;
        & .arrow{
            cursor: pointer;
        }
        & img{
            width: 25px;
        }
    }

}

.text-container{

    margin-top: 25px;
    padding-top: 37px;
    position: relative;
    & .quotes{
        
        width: 60px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0%;
        margin: 0 auto;
    }
    & .user-testimonial{
      
        width: 100%;
        margin: 0 auto 19px;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: var(--DarkBlue);
        text-align: center;
        font-weight: 300;
    }
    .user-details{
        & .user-name, .user-degree{
            font-size: .9375rem;
            text-align: center;
        }
        & .user-name{
            color: var(--DarkBlue);
        }
        & .user-degree{
            color: var(--GrayishBlue);
        }
    }
   
}

footer{
    margin-top: 20px;
    margin: 0 auto;
    height: 72px;
    width: 285px;
    background-image: url(./images/pattern-curve.svg);
    background-size: cover;
    padding: 30px 0 10px 0;
&  .attribution{
    font-size: 10px;
    margin-top: 20px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
}
@media (min-width: 400px){
    #user-img{
        width: 250px;
         border-radius: 10%;
        
    }
}

@media (min-width: 768px){
   *{

    overflow: inherit;
   }
   body{
    width: 100%;
    height: 100vh;
   }
    
    .image-container{
        border-radius: 10px;
        width: 552px;
        height: 515px;
        padding-top: 40px;
        & .arrows-container{
            width: 200px;
            height: 55px;
            padding: 0 20px;
           
            
        } 
        & #user-img{
            width: 400px;
            border-radius: 10px;
        }
        }
        .text-container{
            
           
            & .user-testimonial{
              
                font-size: 1.6rem;
                line-height: 2 rem;
                width: 450px;
            }
            & .user-details{
                & .user-name, .user-degree{
                    font-size: 1.25rem;
                }

            }
        }
      
     }
    
    
     @media (min-width: 920px){
        *{
            overflow: hidden;
       
        }
        .testimonial{
            
            width: 1297px;
            height: 90vh;
            display: flex;
            flex-direction: row-reverse;
            margin: 50px auto 0;
            position: relative;
        }
        .image-container{
         
            margin: 0;
            width: 700px;
            height: 100%;
            padding-top: 62px;
            & .arrows-container{
               
           bottom: 60px;
            
           
            }
        }
        .text-container{
           
            width: 635px;
            height: 344px;
            position: absolute;
            left: 90px;
            top: 130px;
            & .quotes{
                width: 120px;
                height: 100px;
                margin: unset;
                left: 80px;
            }
           & .user-testimonial{
            text-align: left;
            width: 100%;
            font-size: 2rem;
            line-height: 2.75rem;
           } 
           & .user-details{
            display: flex;
            gap: 10px;
           }
        }
       
     }